input.form-control[type="file"] {
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	color: #555555;
	padding: 0px 0px 0px 6px;
	width: 100%;
	border-radius: 4px;
	
	.input-group & {
		border-radius: 0px;
		
		> :first-child & {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		
		> :last-child & {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
	
	&::-webkit-file-upload-button {
		// @extend .btn;
		// @extend .btn-default;
		// Extending .btn breaks anything that adds psuedo-classes to a selector, so we have to copy all the code for buttons here
		display: inline-block;
		margin-bottom: 0; // For input.btn
		font-weight: $btn-font-weight;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 1px solid transparent;
		white-space: nowrap;
		@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
		@include user-select(none);
		// And more just under this block...
		
		// Fortunately the styles for .btn-default are included as a mixin
		@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
		
		margin: -1px 20px -1px -7px;
		border-radius: 0px;
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
	}
	
	&:active, &.active {
		&:focus, &.focus {
			&::-webkit-file-upload-button {
				@include tab-focus;
			}
		}
	}
	
	&:hover, &:focus, &.focus {
		&::-webkit-file-upload-button {
			color: $btn-default-color;
			text-decoration: none;
		}
	}
	
	&:active, &.active {
		&::-webkit-file-upload-button {
			outline: 0;
			background-image: none;
			@include box-shadow(inset 0px 3px 5px rgba(0, 0, 0, 0.125));
		}
	}
	
	&.disabled, &[disabled], fieldset[disabled] & {
		&::-webkit-file-upload-button {
			cursor: $cursor-disabled;
			@include opacity(0.65);
			@include box-shadow(none);
		}
	}
}
